.codex
*.lock
.claude
.gocache
.gomodcache
*.test
.env
*.db
*.db-journal
*.db-wal
*.db-shm
.spl-ide
/bin/
/examples/pdf_demo/
.secretr-data
/cmd/interpreter/interpreter
/cmd/spltool-full/spltool-full
/examples/app/app
